<header class="header">
  <div class="header__container">
    <h1 class="header__title">Digital project</h1>

    <nav>
      <ul class="header__nav">
        <li>
          <a class="header__nav-link" routerLink="/main" routerLinkActive="header__nav-link-active"
            >Main</a
          >
        </li>
        <li>
          <a
            class="header__nav-link"
            routerLink="/gallery"
            routerLinkActive="header__nav-link-active"
            >Gallery</a
          >
        </li>
        <li>
          <a
            class="header__nav-link"
            routerLink="/projects"
            routerLinkActive="header__nav-link-active"
            >Projects</a
          >
        </li>
        <li>
          <a
            class="header__nav-link"
            routerLink="/certifications"
            routerLinkActive="header__nav-link-active"
            >Certifications</a
          >
        </li>
        <li>
          <a
            class="header__nav-link"
            routerLink="/contacts"
            routerLinkActive="header__nav-link-active"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
