<header class="header">
  <h1 class="header__title">Digital project</h1>

  <nav>
    <ul class="header__nav">
      <li>
        <a class="header__nav-link">Main</a>
      </li>
      <li>
        <a class="header__nav-link">Gallery</a>
      </li>
      <li>
        <a class="header__nav-link">Projects</a>
      </li>
      <li>
        <a class="header__nav-link">Certifications</a>
      </li>
      <li>
        <a class="header__nav-link">Contacts</a>
      </li>
    </ul>
  </nav>
</header>
