<section class="main-projects">
  <div class="main-projects__container">
    <h2 class="main-projects__title">Our projects</h2>

    <div class="main-projects__items">
      @for (project of projects; track project.id) {
        <div class="main-projects__item">
          <img [src]="project?.image" [alt]="project?.title" loading="lazy" />
        </div>
      }
    </div>

    <div class="main-projects__btn-container">
      <button type="button" class="main-projects__btn" routerLink="/projects">
        View all projects
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</section>
