.project-details {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--gaps-2);
    max-width: 1440px;
    width: 100%;
    padding: var(--padding);
  }

  &__title {
    font-size: var(--f-size-titles);
    color: var(--t-color-g);
    letter-spacing: var(--l-spacing);
    font-weight: 300;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    background: var(--bg-color-show-w);
    padding: var(--padding);
    gap: var(--gaps-2);
  }

  &__image-wrapper {
    width: 100%;
    max-width: 720px;
    height: 600px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--gaps-2);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--gaps);
  }

  &__info-item {
    font-size: var(--f-size-text);
    line-height: 1.5;
    letter-spacing: var(--l-spacing);
  }

  &__label {
    font-weight: 500;
    color: var(--t-color-l);
    margin-right: var(--margin);
  }

  &__full-description {
    font-size: var(--f-size-text);
    line-height: 1.5;
    color: var(--t-color-b);
    letter-spacing: var(--l-spacing);
    font-weight: 500;
    max-width: 650px;
    text-align: justify;
  }

  &__btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: var(--gaps);
    padding: var(--padding-b);
    background: var(--bg-color-w);
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: var(--l-spacing);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background: var(--bg-hover-b-w);
    }
  }
}

@media (max-width: 1300px) {
  .project-details {
    &__image-wrapper {
      max-width: 650px;
    }
  }
}

@media (max-width: 1024px) {
  .project-details {
    &__container {
      align-items: center;
    }

    &__content {
      align-items: center;
      flex-direction: column;
    }
    &__image-wrapper {
      height: 500px;
    }
  }
}

@media (max-width: 768px) {
  .project-details {
    &__image-wrapper {
      height: 450px;
    }
  }
}

@media (max-width: 570px) {
  .project-details {
    &__full-description {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__image-wrapper {
      height: 435px;
    }
  }
}
