/* You can add global styles to this file, and also import other style files */

:root {
  --t-color-b: #000;
  --t-color-l: #494949;

  --bg-color-b: #000;
  --bg-color-f: #2c2c2c;

  --f-size-header: 1.5rem;
  --f-size-links: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
