/* You can add global styles to this file, and also import other style files */

:root {
  --t-color-b: #000;
  --t-color-l: #494949;
  --t-color-g: #b3b3b3;

  --bg-color-b: #000;
  --bg-color-f: #2c2c2c;
  --bg-color-w: #ffff;

  --f-size-header: 1.5rem;
  --f-size-links: 1.2rem;
  --f-size-text: 1rem;
  --f-size-bigs: 2rem;

  --padding-b: 1rem 2rem;
  --bg-hover-b-w: #edebeb;

  --gaps: 1rem;

  --l-spacing: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
