/* You can add global styles to this file, and also import other style files */

:root {
  --t-color-b: #000;
  --t-color-l: #494949;
  --t-color-g: #b3b3b3;
  --t-color-w: #ffff;
  --t-color-error: #ff0000;
  --bg-color-b: #000;
  --bg-color-f: #2c2c2c;
  --bg-color-w: #ffff;
  --bg-color-show-w: #fbfbfb;
  --bg-color-inputs: #eaeaea;
  --bg-color-done: #0dc332;

  --bg-color-f-b: #474747;

  --bg-color-icons: #515151;
  --bg-color-hover-icons: #3c3c3c;

  --f-size-titles: 2rem;
  --f-size-links: 1.2rem;
  --f-size-text: 1.1rem;
  --f-size-text-2: 1.4rem;
  --f-size-error: 0.9375rem;
  --f-size-links-footer: 1.1rem;

  --padding-b: 1rem 2rem;
  --bg-hover-b-w: #edebeb;
  --bg-hover-b-b: #000;

  --gaps: 1rem;
  --gaps-2: 2rem;
  --padding: 1rem;
  --padding-2: 2rem;
  --padding-3: 3rem;
  --margin: 1rem;
  --margin-2: 2rem;

  --l-spacing: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
