.focus-section {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    gap: var(--gaps);
  }

  &__title {
    font-size: var(--f-size-titles-2);
    color: var(--t-color-g);
    letter-spacing: var(--l-spacing);
    font-weight: 300;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: var(--gaps-2);
  }

  &__item-id {
    font-size: 10rem;
    color: var(--t-color-g);
  }

  &__item-description {
    font-size: var(--f-size-text);
    color: var(--t-color-b);
    line-height: 1.5;
    max-width: 500px;
    text-align: justify;
    letter-spacing: var(--l-spacing);
  }
}
